src/test/resources/some_xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Customer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Age" type="xs:int" />
				<xs:element name="Address" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>